
<table class="table table-hover">
  <thead>
    <tr>
      
      <th scope="col">observation</th>
      
      <th scope="col">Observer</th>
      
      <th scope="col">Location</th>

      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    @for (observation of observations(); track $index) {

        <tr>
            <td>{{ observation.observation_text }}</td>
            <td>{{observation.username}}</td>
            <td>{{observation.location_name}}</td>
            <td>{{observation.status}}</td>
        </tr>

    }
  </tbody>
</table>