<table class="basic-data-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>location name</th>
      <th>edit</th>
    </tr>
  </thead>
  <tbody>
    @for (location of locations(); track location.id) {
    <tr [class.editing]="editingId() === location.id">
      <td>{{ location.id }}</td>
      <td>
        @if (tempEditModel()?.id === location.id) {
        <input [(ngModel)]="tempEditModel()!.name" />
        } @else {
        {{ location.name }}
        }
      </td>

      <td>
        @if (tempEditModel()?.id === location.id) {
        <button (click)="updateObservation(tempEditModel()!.id || -1, tempEditModel()!)">Save</button>
        <button (click)="cancelEdit()">Cancel</button>
        } @else {
        <button (click)="startEdit(location.id || -1)">Edit</button>
        }
      </td>
    </tr>
    }
  </tbody>
</table>
